.auth-button {
  border: solid 1px black;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  background-color: white;
  max-height: 35px;
}

.auth-button:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  scale: 1.1;
}

.auth-button-primary {
  background-color: rgb(142, 197, 255);
}

@keyframes text-float-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-message {
  animation: text-float-in 2s ease;
}

#map {
  height: 300px;
}

@keyframes error-flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.error-container {
  animation-name: error-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes scan-swipe {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(190px);
  }
}

.scan-swipe {
  animation-name: scan-swipe;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
