.cursor-upgraded * {
  cursor:
    url('/idle_game/cursors/roblox-cursor.ico') 8 8,
    auto;
}

.cursor-upgraded .cursor-pointer,
.cursor-upgraded .cursor-pointer * {
  cursor:
    url('/idle_game/cursors/roblox-pointer.ico') 8 8,
    pointer !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in * {
  animation: fadeIn 1s ease;
}

.pop-in {
  animation: popIn 1.6s linear;
}

.click-button {
  border: solid black 1px;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

.click-button:hover {
  background-color: rgba(0, 0, 0, 0.138);
}

.shop-button {
  border: solid black 1px;
  border-radius: 6px;
  padding: 8px;
}

@keyframes gyrate {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.gyrate {
  animation: gyrate 0.5s ease;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer-border {
  position: relative;
  border-radius: 12px;
  padding: 1rem;
  background: transparent; /* inner background */
  color: white;
  z-index: 0;
}

.shimmer-border-common {
  --shimmer-color: #fff47a;
}

.shimmer-border-rare {
  --shimmer-color: #8596ff;
}

.shimmer-border-legendary {
  --shimmer-color: #fd9595;
}

.shimmer-border-mythic {
  --shimmer-color: #de85ff;
}

.shimmer-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 6px; /* border thickness */
  border-radius: inherit;

  /* Shimmer gradient */
  background: linear-gradient(
    90deg,
    var(--shimmer-color) 0%,
    var(--shimmer-color) 20%,
    rgba(255, 255, 255, 1) 50%,
    var(--shimmer-color) 80%,
    var(--shimmer-color) 100%
  );

  background-size: 200% 100%;
  animation: shimmer 3s linear infinite;

  /* Show only border */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  z-index: -1;
}

.depth-container {
  perspective: 500px; /* adds depth */
  display: inline-block;
}

.depth-container * {
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  transform-style: preserve-3d;
}

/* Hover effect */
.depth-container:hover * {
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}

@keyframes floatScore {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) translateX(15px);
    opacity: 0;
  }
}

.float-score {
  animation: floatScore 1000ms ease-out;
}

.blog-title {
  text-shadow:
    0px 0px 0 #899cd5,
    1px 1px 0 #8194cd,
    2px 2px 0 #788bc4,
    3px 3px 0 #6f82bb,
    4px 4px 0 #677ab3,
    5px 5px 0 #5e71aa,
    6px 6px 0 #5568a1,
    7px 7px 0 #4c5f98,
    8px 8px 0 #445790,
    9px 9px 0 #3b4e87,
    10px 10px 0 #32457e,
    11px 11px 0 #2a3d76,
    12px 12px 0 #21346d,
    13px 13px 0 #182b64,
    0px 0px 20px rgba(0, 0, 0, 0.2);
  color: #92a5de;
}

.active-meme {
  left: 40% !important;
  top: 30% !important;
  width: 300px !important;
  height: 300px !important;
}

.active-meme .shimmer-border {
  width: 300px !important;
  height: 300px !important;
}

@keyframes invaderFloat {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110px);
  }
}

.invader {
  animation: invaderFloat 10s linear;
}
